<!--
  @author Oliver Shen 6/23
  _topbanner.erb – Top Banner partial for Prof. Eric Fosler-Lussier’s site
  Renders site name and navigation tabs.
  Each tab’s URL is pulled from data.top_banner in top_banner.yml.
-->
<nav class="top-banner">
  <!-- 左侧：改成 label，点击折叠/展开左栏 -->
  <label for="leftBarDropdown" class="tb-left" role="button" aria-label="Toggle left sidebar">
    三 Oliver Shen
  </label>

  <ul class="tb-right">
    <% data.top_banner.nav.each do |item| %>
      <% current = current_page.url.to_s.sub(%r{\/+$}, '') %>
      <% target  = item.url.to_s.sub(%r{\/+$}, '') %>
      <li>
        <a href="<%= item.url %>" class="<%= current == target ? 'active' : '' %>">
          <%= item.label %>
        </a>
      </li>
    <% end %>
  </ul>
</nav>



