<!--@author Anshuman Ranjan-->
<!--@created 6/24/25-->
<!--@description: An HTML template of the top and left banners that will appear on all the pages of the site-->

<link rel="stylesheet" href="/stylesheets/main.css"> 
<link rel="stylesheet" href="/stylesheets/top_banner.css"> 
<link rel="stylesheet" href="/stylesheets/left_banner.css">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= current_page.data.title || "Oliver Shen" %></title>
  <link rel="stylesheet" href="/stylesheets/site.css">
</head>
<body>
  <!-- 顶部导航（整页通用） -->
  <%= partial "layouts/top_banner" %>

  <!-- 左栏开关：和 .maingrid 是兄弟关系，匹配你现有的 CSS 选择器 -->
  <input type="checkbox" id="leftBarDropdown">

  <!-- 主栅格：左列=左栏，右列=页面内容 -->
  <div class="maingrid">
    <aside class="leftGrid">
      <%= partial "layouts/left_banner" %>
    </aside>

    <main class="rightGrid">
      <%= yield %>
    </main>
  </div>
</body>
</html>


