<!--@description: An HTML template of the top and left banners that will appear on all the pages of the site-->

<link rel="stylesheet" href="/stylesheets/main.css"> 
<link rel="stylesheet" href="/stylesheets/top_banner.css"> 
<link rel="stylesheet" href="/stylesheets/left_banner.css">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= current_page.data.title || "Oliver Shen" %></title>
  <link rel="stylesheet" href="/stylesheets/site.css">
</head>
<body>
  <a id="expand"></a>
  <a id="collapse"></a>

  <%= partial "layouts/top_banner" %>

  <div class="maingrid">
    <aside class="leftGrid"><%= partial "layouts/left_banner" %></aside>
    <main class="rightGrid"><%= yield %></main>
  </div>

</body>
</html>


