<!--
  left_banner_qualifications.erb
  Created by Yunfeng Wang 06/23/2025
  Displays professor's photo, name, url, department, and titles in the left banner
  Data from @left_banner_qualifications.yml
-->

<div class="left-banner-qualifications">
  <img src="/images/eric.jpg" alt="Eric Fosler-Lussier" class="professor-photo">

  <h2>
    <a href="<%= data.left_banner_qualifications.profile_url %>" target="_blank">
      <%= data.left_banner_qualifications.name %>
    </a>
  </h2>
  <p><%= data.left_banner_qualifications.department %></p>
  <ul>
    <% data.left_banner_qualifications.titles.each do |title| %>
      <li><%= title %></li>
    <% end %>
  </ul>
</div>
