<!-- Created by Sam Cubbely 6 27. Creates a checkbox at the top of the screen that the user can
select to show the left menu -->

<input type = "checkbox" id = "leftBarDropdown">
	<div id = "toggleButton">
		<label for = "leftBarDropdown" class = "opened"><strong>Click Here To Hide Profile: </strong><span id = "closeBio">OPEN</span></label>
		<label for = "leftBarDropdown" class = "closed"><strong>Click Here To Show Profile: </strong><span id = "openBio">HIDDEN</span></label>
	</div>
